<div class="vh-100 position-relative">
  <div class="float-left position-absolute pl-5 pt-5">
    <h1>NoteMark</h1>
    <h4 class="text-primary">Simple note taking app in markdown</h4>
  </div>
  <div class="w-50 float-right text-center">
    <%= image_tag('home_banner', class: 'img-fluid') %>
    <small class="text-muted">Photo by <a href="https://unsplash.com/@stilclassics?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">STIL</a> on <a href="https://unsplash.com/s/photos/paper?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
  </div>
</div>
